body {
    background-color: #2d2d2d;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #fff;
    text-align: center;
}

h1 {
    color: #eb7600;
    text-align: center;
    text-shadow: 2px 2px 3px #000;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.header-links a {
    text-decoration: underline;
    font-size: 22px;
    color: #7c6d24;
    font-weight: bold;
}

h2 {
    color: #eb7600;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
    background-color: #3a3a3a;
}

.pagination a.active {
    font-weight: bold;
    background-color: #eb7600;
}

.pagination a:hover {
    background-color: #555;
}

.pagination a:disabled {
    color: #666;
    pointer-events: none;
    cursor: default;
}